.header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
}

.header--right-side {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
}

.nav__link {
  color: var(--font-color);
  &.current {
    font-weight: 500;
    text-decoration: underline;
    color: var(--accent-color);

    @media screen and (min-width: 1280px) {
      font-weight: 700;
    }
  }
}

.header__btn {
  @extend %accent-btn;
}

.menu-btn {
  @extend %btn;
  color: var(--dark-green);
  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: var(--main-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

.menu {
  //   display: none;
  position: absolute;
  z-index: 10;
  top: 46px;
  right: 22px;

  padding: 16px;
  width: 130px;
  height: 255px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: var(--white-color);
  //   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear,
    transform 250ms linear;

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  @extend %btn;
}

.close-icon {
  width: 24px;
  height: 24px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
