.section {
  //   background-color: teal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.favorites-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    gap: 32px;
    flex-direction: row;
  }
}

.favorites-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 282px;
  background-color: #fefefe;
  border-radius: 139.65846252441406px;
  border: 11px solid #ffe550;

  &:nth-last-child(-n + 3) {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
