.container {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  margin: 0 auto;

  outline: 1px solid tomato;
  outline-offset: -1px;

  @media screen and (min-width: 480px) {
    width: 480px;
    // padding-right: 32px;
    // padding-left: 32px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
