@import './utils/vars';
@import './utils/visually-hidden';
@import './base/common';
@import './base/container';
@import './base/reset';
@import './example';
@import './base';
@import './sections/favorites.scss';
