:root {
  // Colors
  --main-color: #ffe550;
  --white-color: #fefefe;
  --accent-color: #bbf330;
  --hover-btn: #b5ff00;
  --dark-green: #7eb101;
  --font-color: #2c2c2c;

  // fonts
  --main-font: 'Roboto', sans-serif;

  /* Grid */
  --indent: 30px;
  --items: 3;

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
