<section class="section">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-list__item">
        <img src="./images/gamburger.png" alt="" />
      </li>
    </ul>
  </div>
</section>
