<section class="section">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img1_desk@1x.png 1x,
              ./images/favorites/img1_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img1_tab@1x.png 1x,
              ./images/favorites/img1_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/img1_mob@1x.png 1x,
              ./images/favorites/img1_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/favorites/img1_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img2_desk@1x.png 1x,
              ./images/favorites/img2_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img2_tab@1x.png 1x,
              ./images/favorites/img2_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/img2_mob@1x.png 1x,
              ./images/favorites/img2_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/favorites/img2_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img3_desk@1x.png 1x,
              ./images/favorites/img3_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img3_tab@1x.png 1x,
              ./images/favorites/img3_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/img3_mob@1x.png 1x,
              ./images/favorites/img3_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/favorites/img3_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img4_desk@1x.png 1x,
              ./images/favorites/img4_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img4_tab@1x.png 1x,
              ./images/favorites/img4_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/favorites/img4_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img5_desk@1x.png 1x,
              ./images/favorites/img5_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img5_tab@1x.png 1x,
              ./images/favorites/img5_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/favorites/img5_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            srcset="
              ./images/favorites/img6_desk@1x.png 1x,
              ./images/favorites/img6_desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/img6_tab@1x.png 1x,
              ./images/favorites/img6_tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/favorites/img6_desk@1x.png" alt="" />
        </picture>
        <!-- <img src="./images/gamburger.png" alt="" /> -->
      </li>
    </ul>
  </div>
</section>
